<!DOCTYPE html>

<html lang="en">



<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
	<meta http-equiv="Pragma" content="no-cache">
	<title>ActionCars</title>	
</head>    

<body>		
	<div class="app" >		
		
		<div class="content">
			<div class="user_info">
				<h3>User info</h3>
				<span class="lvl"> <span class="value">{{user_lvl}}</span> lvl</span>
				<div class="exp">exp: <span class="value">{{user_current}}/{{user_exp}}</span></div>
			</div>

			<nav>				
				<ul>
					<li><a class="tab_garage" href="#">Garage</a></li>
					<li><a class="tab_race" href="#">Race</a></li>
					<li><a class="tab_market" href="#">Market</a></li>
					<li><a class="tab_packs" href="#">Packs</a></li>
					<li><a class="tab_ranked" href="#">Ranked</a></li>
					<li><a class="tab_achieve" href="#">Items</a></li>
				</ul>
			</nav>
			
			<div class="logo">
				<a href="#adds" class="popup"><img src="img/logo.png" alt="" class=""></a>
			</div>

			<div v-show="no_cars" class="no_cars">
				<h1>You don't have any car</h1>
				<h2>You can buy cars in the market or open a pack, there are two options to choose from: paid or free</h2>
				<button class="tab_market market_btn">Market</button>
				<button class="tab_packs packs_btn">Get packs</button>
			</div>

			<div v-show="tab_garage" id="garage">								
				<div class="item">
					<div class="visual">
						<img src="img/Ferrari.png" alt="">														
						<h1 class="legend">Ferrari</h1>
					</div>				
					<div class="owner">owner: <div class="value">n1JNiQyqSq96kjfAafRao393YW84dFvCR9m</div></div>
					<div class="stats">														
						<span class="speed"><span class="value">197</span> km/h</span>							
						<span class="lucky">lucky: <span class="value">7</span></span>
						<span class="reliability">robust: <span class="value">9</span></span>
						<span class="handling">handling: <span class="value">10</span></span>
						<button class="sell">Sell</button>
					</div>			
					<div class="history">
						<h3>History</h3>							
						<ul class="data_history">
							<li>
								<span class="opponent">Opponent</span>
								<span class="result">Result</span>
								<span class="info">Info</span>
							</li>						
							<div class="wrapp_history">									
								<li>
									<span class="opponent"><img src="img/volvo.png" alt=""></span>
									<span class="result win">Win</span>
									<span class="info"><a href="#"><img src="img/more_info.png" alt="" class="more_info"></a></span>
								</li>
								<li>
									<span class="opponent"><img src="img/volvo.png" alt=""></span>
									<span class="result loose">Loose</span>
									<span class="info"><a href="#"><img src="img/more_info.png" alt="" class="more_info"></a></span>
								</li>
								<li>
									<span class="opponent"><img src="img/volvo.png" alt=""></span>
									<span class="result draw">Draw</span>
									<span class="info"><a href="#"><img src="img/more_info.png" alt="" class="more_info"></a></span>
								</li>
							</div>										
						</ul>
					</div>									
				</div>										
			</div>
			
			<div v-show="tab_my_cars" id="my_cars" class="row">
				<my-cars 				
					v-for="car in my_cars"				  						
					v-bind:id="car.id"
					v-bind:name="car.name"
					v-bind:luck="car.luck"
					v-bind:robust="car.robust"
					v-bind:controllability="car.controllability"
					v-bind:speed="car.speed"
					v-bind:src="'img/' + car.name + '.png'"	
					v-bind:rarity="car.rarity"
					v-bind:bool="car.bool"						
				></my-cars>						
			</div>
			
			<div v-show="tab_market" class="market row">
				<car-market 				
					v-for="car in cars_market"				  						
					v-bind:id="car.id"
					v-bind:name="car.name"
					v-bind:luck="car.luck"
					v-bind:robust="car.robust"
					v-bind:controllability="car.controllability"
					v-bind:speed="car.speed"
					v-bind:src="'img/' + car.name + '.png'"	
					v-bind:rarity="car.rarity"						
					v-bind:owner="car.owner"						
					v-bind:price="car.price"
				></car-market>						
			</div>

			<div v-show="tab_race" class="race race_fight">				
				<div>
					<car-race 				
						v-for="car in cars_race"				  						
						v-bind:id="car.id"
						v-bind:name="car.name"
						v-bind:luck="car.luck"
						v-bind:robust="car.robust"
						v-bind:controllability="car.controllability"
						v-bind:speed="car.speed"
						v-bind:src="'img/' + car.name + '.png'"	
						v-bind:rarity="car.rarity"						
						v-bind:owner="car.owner"						
						v-bind:boolen="car.boolen"						  				
						v-bind:draw="car.draw"						  				
						v-bind:time="car.time"
					></car-race>
				</div>
				<div class="vs">VS</div>				
			</div>

			<div v-show="tab_packs"id="packs">
				<h1>Cars pack</h1>		
				<h3>In the pack you will receive three random cars</h3>
				<div class="pack row">					
					<div class="car">
						<div class="visual_wrap">
							<img src="img/siluet.png" alt="">
						</div>					
						<h2 class="unknow">Unknow</h2>					
						<div class="stats_car">
							<span class="speed"><span class="value">210-320</span> km/h</span>							
							<span class="lucky">lucky: <span class="value">20-45</span></span>
							<span class="reliability">robust: <span class="value">5%-7%</span></span>
							<span class="handling">handling: <span class="value">20-65</span></span>
						</div>
					</div>						
					<div class="car">
						<div class="visual_wrap">
							<img src="img/siluet.png" alt="">
						</div>					
						<h2 class="unknow">Unknow</h2>					
						<div class="stats_car">
							<span class="speed"><span class="value">180-280</span> km/h</span>				
							<span class="lucky">lucky: <span class="value">0-22</span></span>
							<span class="reliability">robust: <span class="value">8%-10%</span></span>
							<span class="handling">handling: <span class="value">15-50</span></span>
						</div>
					</div>			
					<div class="car">
						<div class="visual_wrap">
							<img src="img/siluet.png" alt="">
						</div>					
						<h2 class="unknow">Unknow</h2>					
						<div class="stats_car">
							<span class="speed"><span class="value">180-280</span> km/h</span>							
							<span class="lucky">lucky: <span class="value">0-22</span></span>
							<span class="reliability">robust: <span class="value">8%-10%</span></span>
							<span class="handling">handling: <span class="value">15-50</span></span>
						</div>
					</div>									
				</div>
				<div class="buy_packs">
					<button pack-id="2" class="pay">Buy</button>
					<button pack-id="0" class="free scnd_pack">Get free</button>
					<button pack-id="1" class="free thrd_pack">Get free</button>
				</div>

				<div class="err_result"></div>
			</div>

			<div v-show="tab_congrat" id="congrat">
				<h1>Congratulate</h1>						
				<div class="pack row">					
					<car-congrat 				
						v-for="car in pack_cars"				  						
						v-bind:id="car.id"
						v-bind:name="car.name"
						v-bind:luck="car.luck"
						v-bind:robust="car.robust"
						v-bind:controllability="car.controllability"
						v-bind:speed="car.speed"
						v-bind:src="'img/' + car.name + '.png'"	
						v-bind:rarity="car.rarity"						
					></car-congrat>
				</div>				
			</div>
			
			<div v-show="tab_player" id="player">
				<div class="player_info">
					<span class="name">Nilko</span><img src="img/edit.png" alt="" class="edit">
					<span class="exp">exp <span class="current">20</span>/<span class="full">100</span></span>
					<span class="lvl"><span class="value">1</span> lvl</span>
					<span class="adress">owner: <span class="value">n1JNiQyqSq96kjfAafRao393YW84dFvCR9m</span></span>
				</div>
				<div class="player_history">
					<h2>History</h2>							
					<ul class="data_history">
						<li>
							<span class="opponent">Opponent</span>
							<span class="result">Result</span>
							<span class="info">Info</span>
						</li>						
						<div class="wrapp_history">									
							<li>
								<span class="opponent"><img src="img/volvo.png" alt=""></span>
								<span class="result win">Win</span>
								<span class="info"><a href="#"><img src="img/more_info.png" alt="" class="more_info"></a></span>
							</li>
							<li>
								<span class="opponent"><img src="img/volvo.png" alt=""></span>
								<span class="result loose">Loose</span>
								<span class="info"><a href="#"><img src="img/more_info.png" alt="" class="more_info"></a></span>
							</li>
							<li>
								<span class="opponent"><img src="img/volvo.png" alt=""></span>
								<span class="result draw">Draw</span>
								<span class="info"><a href="#"><img src="img/more_info.png" alt="" class="more_info"></a></span>
							</li>
						</div>										
					</ul>
				</div>				
				<h1 class="cars_h1">Player cars</h1>
				<div class="player_cars row">					
					<car-player 				
						v-for="car in cars_race"				  						
						v-bind:id="car.id"			  				
					></car-player>		
				</div>
			</div>

			<div v-show="tab_ranked" id="ranked">
				<rank-player 				
					v-for="player in ranked_players"				  						
					v-bind:id="player.id"
					v-bind:lvl="player.lvl"
					v-bind:owner="player.owner"
				></rank-player>
			</div>

			<div v-show="tab_achive" id="achieve" class="achieve">
				<h1>Items</h1>
				<div class="row">							
					<div class="car">
						<div class="visual_wrap">
							<img src="img/nitro.png" alt="">
						</div>					
						<h2>Nitro</h2>					
						<div class="stats_car">
							<p>Greatly increases the speed of your car for one race. <br> To get, you need to win three times in a row. You will also receive nitro for every three win in a row</p>
						</div>
						<div class="counter">
							You currently have: <span class="value">{{nitro}}</span>
						</div>						
					</div>	
					<div class="car">
						<div class="visual_wrap">
							<img src="img/energy.png" alt="">
						</div>					
						<h2>Energy</h2>					
						<div class="stats_car">
							<p>
								Increases the speed of your car for one race. <br> To receive, you need to get your first victory. You will also receive energy for every 5 wins
							</p>							
						</div>
						<div class="counter">
							You currently have: <span class="value">{{energy}}</span>
						</div>						
					</div>						
				</div>
			</div>

			<div v-show="tab_battleground_race" id="race">
				<cars-race-battleground 				
					v-for="car in cars_race_battleground"				  						
					v-bind:id="car.id"
					v-bind:name="car.name"
					v-bind:luck="car.luck"
					v-bind:robust="car.robust"
					v-bind:controllability="car.controllability"
					v-bind:speed="car.speed"
					v-bind:src="'img/' + car.name + '.png'"	
					v-bind:rarity="car.rarity"						
					v-bind:owner="car.owner"		  				
				></cars-race-battleground>
			</div>
		</div>

		<a href="#my_cars_popup" class="popup attack_fake"></a>

		<div id="my_cars_popup" class="mfp-fade mfp-hide">		
			<h1>Pick your car for fight!</h1>
			<div>
				<my-cars-popup				  						
					v-for="car in my_cars"				  						
					v-bind:id="car.id"
					v-bind:name="car.name"
					v-bind:luck="car.luck"
					v-bind:robust="car.robust"
					v-bind:controllability="car.controllability"
					v-bind:speed="car.speed"
					v-bind:src="'img/' + car.name + '.png'"	
					v-bind:rarity="car.rarity"
					v-bind:bool="car.bool"										
				></my-cars-popup>
			</div>		
		</div>

		<a href="#adds" class="popup adds_fake"></a>

		<div id="adds" class="mfp-fade mfp-hide">		
			<h1>Pick track for race!</h1>
			<div class="row trace">
				<div class="car">
					<div class="visual_wrap">
						<img src="img/track_1.jpeg" alt="">
					</div>					
					<h2>Track 1</h2>					
					<div class="stats_car">
						<span class="speed">length: <span class="value">20</span> km</span>				
						<span class="lucky">turns: <span class="value">20</span></span>
					</div>		
					<button trace-id="0" class="pick">Pick</button>				
				</div>	
				<div class="car">
					<div class="visual_wrap">
						<img src="img/track_2.png" alt="">
					</div>					
					<h2>Track 2</h2>					
					<div class="stats_car">
						<span class="speed">length: <span class="value">100</span> km</span>				
						<span class="lucky">turns: <span class="value">5</span></span>
					</div>						
					<button trace-id="1" class="pick">Pick</button>
				</div>	
				<div class="car">
					<div class="visual_wrap">
						<img src="img/track_3.jpg" alt="">
					</div>					
					<h2>Track 3</h2>					
					<div class="stats_car">
						<span class="speed">length: <span class="value">50</span> km</span>				
						<span class="lucky">turns: <span class="value">20</span></span>
					</div>						
					<button trace-id="2" class="pick">Pick</button>
				</div>					
			</div>		
			<h1>Pick items for race!</h1>
			<div class="row items_adds">
				<div class="car">
					<div class="visual_wrap">
						<img src="img/nitro.png" alt="">
					</div>					
					<h2>Nitro</h2>					
					<div class="stats_car">
						<p>Greatly increases the speed of your car for one race.</p>
					</div>
					<div class="counter">
						You currently have: <span class="value">{{nitro}}</span>
					</div>						
					<button item-id="nitro" class="pick nitro_btn">Pick</button>
				</div>	
				<div class="car">
					<div class="visual_wrap">
						<img src="img/energy.png" alt="">
					</div>					
					<h2>Energy</h2>					
					<div class="stats_car">
						<p>
							Increases the speed of your car for one race.
						</p>							
					</div>
					<div class="counter">
						You currently have: <span class="value">{{energy}}</span>
					</div>						
					<button item-id="energy" class="pick enrg_btn">Pick</button>
				</div>				
			</div>		
			<div v-on:click="vm.go_race()" class="send">Go to race!</div>
		</div>

		<div id="faq" class="mfp-fade mfp-hide">
			<div class="container_faq">
				<h1>How to play</h1>
			</div>
		</div>

		<div id="about" class="mfp-fade mfp-hide">
			<h1>Contact</h1>
			<span>E-mail: 
				<a href="mailto:alexdarkstalkeroriginal@gmail.com">alexdarkstalkeroriginal@gmail.com</a>
			</span>
		</div>
	</div>
	

	<a href="#sell" class="popup sell_fake"></a>
	<div id="sell" class="mfp-fade mfp-hide">				
		<h1>Enter price for pog</h1>
		<input type="text"><span class="nas">NAS</span>
		<button class="sell">Sell</button>
		</div>
	</div>
	
	<a href="#error_info" class="error_info_fake popup"></a>

	<div id="error_info" class="mfp-fade mfp-hide">		
		<h1 class="error"></h1>
		<button class="ok_err">Ok</button>		
	</div>

	<a href="#transaction" class="transaction" style="position: absolute; width: 0.1px; opacity: .1"></a>
	<div id="transaction" class="mfp-hide mfp-fade">
		<p>Transaction is <span class="status_trans"></span></p>
		<!-- <img src="img/pending.gif" alt=""> -->
		<div class="hash"></div>			
	</div>
	
	<div class="noExtension" style="display: none"> 
		NOTE: Please install <a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">WebExtensionWallet</a>  to use TheMonsters
	</div>
	<div class="errNetwork" style="display: none">
		NOTE: Sorry, you use incorrect net
	</div>	

	<script src='lib/jquery-3.3.1.min.js'></script>		
	<link rel="stylesheet" href="lib/main.css">	
	<link rel="stylesheet" href="lib/magnific-popup.css">    
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<script src="lib/vue.min.js"></script>
	<script src='lib/nebPay.js'></script>    	
    <script src='lib/nebulas.js'></script>
    <script src='lib/jquery.magnific-popup.js'></script>
    <script src="lib/common.js"></script>            
</body>
</html>